# SonarQube configuration
-Dsonar.projectKey=cdi-unit_cdi-unit
-Dsonar.organization=io-github-cdi-unit
-Dsonar.host.url=https://sonarcloud.io

-Dsonar.issue.ignore.multicriteria=accept-field-injection
-Dsonar.issue.ignore.multicriteria.accept-field-injection.ruleKey=java:S6813
-Dsonar.issue.ignore.multicriteria.accept-field-injection.resourceKey=**/*.java,**/*.groovy
