sudo: false
language: java
notifications:
  email:
    - bryncooke@gmail.com
jdk:
  - oraclejdk8

env:

  matrix:
    - WELD_VERSION=2.4.2.Final
    - WELD_VERSION=2.4.1.Final
    - WELD_VERSION=2.4.0.Final
    - WELD_VERSION=2.3.5.Final
    - WELD_VERSION=2.3.4.Final
    - WELD_VERSION=2.2.13.Final
    - WELD_VERSION=2.2.12.Final
    - WELD_VERSION=2.2.11.Final
    - WELD_VERSION=2.2.10.Final
    - WELD_VERSION=2.2.9.Final
 #    - WELD_VERSION=2.2.8.Final	
 #   - WELD_VERSION=2.2.7.Final	
    - WELD_VERSION=2.2.6.Final	
    - WELD_VERSION=2.2.5.Final	
    - WELD_VERSION=2.2.4.Final	
    - WELD_VERSION=2.2.3.Final	
    - WELD_VERSION=2.2.2.Final	
    - WELD_VERSION=2.2.1.Final
    - WELD_VERSION=2.2.1.Final
    - WELD_VERSION=2.2.0.Final
    - WELD_VERSION=2.1.2.Final
    - WELD_VERSION=2.1.1.Final
    - WELD_VERSION=2.1.0.Final
    - WELD_VERSION=2.0.4.Final
    - WELD_VERSION=2.0.3.Final
    - WELD_VERSION=2.0.2.Final
    - WELD_VERSION=2.0.1.Final
  #  - WELD_VERSION=1.1.16.Final
  #  - WELD_VERSION=1.1.15.Final
   

script: "mvn clean install -Dweld.test.version=${WELD_VERSION}"
