language: java
notifications:
  email:
    - bryncooke@gmail.com
jdk:
  - oraclejdk7

env:

  matrix:
    - WELD_VERSION=2.2.1.Final
    - WELD_VERSION=2.2.0.Final
    - WELD_VERSION=2.1.2.Final
    - WELD_VERSION=2.1.1.Final
    - WELD_VERSION=2.1.0.Final
    - WELD_VERSION=2.0.4.Final
    - WELD_VERSION=2.0.3.Final
    - WELD_VERSION=2.0.2.Final
    - WELD_VERSION=2.0.1.Final
    - WELD_VERSION=1.1.16.Final
    - WELD_VERSION=1.1.15.Final
    - WELD_VERSION=1.1.14.Final
   

script: "mvn clean install -Dweld.test.version=${WELD_VERSION}"
