os: linux
dist: bionic

branches:
  only:
  - master
  - /travis/

# https://github.com/travis-ci/travis-ci/issues/10055
sudo: false

language: java

# precise
#   Oracle JDK 7 (oraclejdk7)
#   OpenJDK 7 (openjdk7)
#   OpenJDK 6 (openjdk6)
#   Oracle JDK 8 (oraclejdk8)

# trusty
#   Open JDK 7 (openjdk7)
#   Open JDK 8 (openjdk8)
#   Oracle JDK 8 (oraclejdk8). Default.
#   Oracle JDK 9 (oraclejdk9)
#   Oracle JDK 7 is not provided because it reached End of Life in April 2015.
#   Oracle JDK 10 is not provided because it reached End of Life in October 2018.
#   Oracle JDK 11 (oraclejdk11)

# xenial
#   openjdk8, openjdk10, and openjdk11

# bionic
#   openjdk8, openjdk10, and openjdk11

jdk:
#  current LTS versions
#  - openjdk14 - build is failing #163
#  - oraclejdk14 - build is failing #163
  - openjdk11
  - oraclejdk11
  - openjdk8
#  - oraclejdk8 - missing from current TravisCI workers

# cache local Maven repo: https://docs.travis-ci.com/user/caching/
cache:
  directories:
  - $HOME/.m2/repository
#  - $HOME/.m2/wrapper
before_cache:
  - rm -rf $HOME/.m2/repository/org/jglue/cdi-unit/

env:
  # We don't want to overtax travis (or get throttled), so we try to limit the number of combinations.
  # Current strategy is, for each supported minor version of Weld, to test one early point release plus
  # the most recent point release, plus some point releases which caused problems.
  # There is one version source per minor release of Weld, newer releases on top.
  - VERSION_SOURCE=weld-v3.1.sh
  - VERSION_SOURCE=weld-v3.0.sh
  - VERSION_SOURCE=weld-v2.4.sh
  - VERSION_SOURCE=weld-v2.3.sh
  - VERSION_SOURCE=weld-v2.2.sh
  - VERSION_SOURCE=weld-v2.1.sh
  - VERSION_SOURCE=weld-v2.0.sh
  - VERSION_SOURCE=weld-v1.1.sh

# Installing the dependencies here saves many log lines (Travis limit is 10000)
install:
- |
  cp .travis.settings.xml $HOME/.m2/settings.xml
  travis_wait ./mvnw -V clean verify -Dmaven.main.skip -Dmaven.test.skip --quiet --batch-mode

script:
- ./travisci/build.sh ${VERSION_SOURCE}
